Report/00-main.aux
Report/00-main.bbl
Report/00-main.blg
Report/00-main.log
Report/00-main.out
Report/00-main.pdf

Poster/poster.aux
Poster/poster.bbl
Poster/poster.blg
Poster/poster.log
Poster/poster.nav
Poster/poster.out
Poster/poster.pdf
Poster/poster.snm
Poster/poster.toc
Poster/poster.vrb